:root {
    --primary-color: #EF352B;
    --secondary-color: #831a16;
    --grey-color: #727375;
    --soft-grey-color: #E0E0E0;
    --white-color: #FFFFFF;
    --bg-loading-color: rgb(255, 255, 255, 0.9);
    --dark-color: #1a1a1a;
    --green-color: #005e43;
    --blue-color: #00467a;
    --yellow-color: #FFCE20;
    --background-color: #F3F3F3;
}


body {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
}

/* Wrapper */
.wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* Sidebar */
#sidebar {
    min-width: 320px;
    max-width: 320px;
    background: var(--secondary-color);
    color: var(--white-color);
    transition: all 0.3s;
    height: 100vh;
    position: fixed;
    overflow: auto;

}

#side-logo-telkom {
    width: 20%;

}

#sidebar .sidebar-header {
    padding: 20px;
    background: var(--white-color);
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--secondary-color);
    /* Ensure it stays on top */
}

#sidebar .sidebar-header span {
    color: var(--dark-color);
}


#sidebar ul.components {
    background-color: var(--secondary-color);
    border-top-right-radius: 15px;

}

#sidebar ul li a {
    padding: 10px;
    margin: 10px;
    font-size: 1.1em;
    display: block;
    color: var(--white-color);
    transition: 0.5s;
    border-radius: 10px;
    text-decoration: none;
}

#sidebar ul li a:hover {
    background: var(--white-color);
    color: var(--secondary-color);
    border-radius: 10px;
}

#sidebar ul li.active>a {
    color: var(--secondary-color);
    background: var(--white-color);
    border-radius: 10px;
}

/* Content Wrapper */
#content-wrapper {
    margin-left: 320px;
    width: calc(100% - 320px);
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

/* Navbar */
.navbar {
    padding: 20px;
    background: var(--white-color);
    border: none;
    border-radius: 0;
    width: 100%;
    position: sticky;
    top: 0;
    height: 100px;
}

#nav-logo-telkom {
    width: 3%;
    display: none;
}

.navbar-header {
    display: flex;
    align-items: center;
}

.navbar-header a {
    color: var(--dark-color);
    font-size: 24px;
    text-decoration: none;
}

.account {
    color: var(--dark-color);
}

/* Content */
#content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}



/* Mobuile */
#btn-menu-mobile {
    position: fixed;
    bottom: 20px;
    /* Jarak dari bawah layar */
    right: 20px;
    /* Jarak dari kanan layar */
    z-index: 1000;
    /* Pastikan tombol berada di atas elemen lain */
    border-radius: 50%;
    /* Membuat tombol berbentuk bulat */
    padding: 10px;

    width: 45px;
    height: 45px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Memberikan efek bayangan */

    display: none;
}

.body-modal-menu-mobile {
    background-color: var(--secondary-color);
    display: none;
}

.header-menu-mobile {
    display: flex;
    align-items: center;
}

.header-menu-mobile img {
    width: 10%;
}

.button-menu-mobile .sidebar-header span {
    color: var(--dark-color);
}


.button-menu-mobile ul.components {
    background-color: var(--secondary-color);
}

.button-menu-mobile ul li a {
    padding: 10px;
    margin: 10px;
    font-size: 1.1em;
    display: block;
    color: var(--white-color);
    transition: 0.5s;
    border-radius: 10px;
    text-decoration: none;
}

.button-menu-mobile ul li a:hover {
    background: var(--white-color);
    color: var(--secondary-color);
    border-radius: 10px;
}

.button-menu-mobile ul li.active>a {
    color: var(--secondary-color);
    background: var(--white-color);
    border-radius: 10px;
}



@media (max-width: 800px) {
    #sidebar {
        display: none;
    }

    .navbar {
        padding: 20px;
        background: var(--white-color);
        border: none;
        border-radius: 0;
        width: 100%;
        position: sticky;
        top: 0;
        height: 100px;
    }

    #content-wrapper {
        margin-left: 0px;
        width: calc(100% - 0px);
        display: flex;
        transition: 0.5s;
        flex-direction: column;
    }

    #nav-logo-telkom {
        width: 10%;
        display: block;
    }

    #drowpdown-account {
        margin-left: auto;
        /* Ensure the dropdown stays on the right */
    }

    #btn-menu-mobile,
    .body-modal-menu-mobile {
        display: block;
    }
}



/*css3 design scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--white-color);
}

::-webkit-scrollbar-thumb {
    background: var(--grey-color);
    border-radius: 5px;
}
